.tag {
  padding: 3px;
  border: solid 1px rgba(0, 0, 0, 0.71);
  background-color: #d4d4d5ba;
  z-index: 1;
  font-size: 5em;
  display: flex;
  position: absolute;
  bottom: 25.5%;
  width: auto;
  height: auto;
  margin-left: 4rem;
<<<<<<< HEAD
    align-items: flex-end;
=======
  align-items: flex-end;
>>>>>>> d1af6ff6193edde937209dfbe20e1a7befed266e
}
